<h1>dish details</h1>

<h2><%= @dish['name'] %></h2>
<h3><%= @dish.dish_type_name%></h3>
<img src="<%= @dish['image_url'] %>" alt="">

<a href="/dishes/<%= @dish['id']%>/edit">edit</a>

<form action="/dishes/<%= @dish['id']%>" method="post">
    <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>

<ul>
  <% @comments.each do |comment| %>
  <li><%= comment["body"] %></li>
  <% end %>
</ul>


<form action="/comments" method="post">
  <label for="">comment</label>
  <textarea name="body"></textarea>
  <button>post</button>
  <input type="hidden" name="id" value="<%= @dish["id"]%>">
</form>
